  <section class="deletePet">
        <h3>{{name}}</h3>
        <p>Pet counter: <i class="fas fa-heart"></i> {{likes}}</p>
        <p class="img"><img src="{{imageURL}}"></p>
            <form action="#/deletePet/{{id}}" method="POST">
                <p class="description">{{description}}</p>
                <button class="button">Delete</button>
            </form>
    </section>