<section class="detailsMyPet">
        <h3>{{name}}</h3>
        <p>Pet counter: <i class="fas fa-heart"></i> {{likes}}</p>
        <p class="img">
            <img src="{{imageURL}}"></p>
            <form action="#/editPet/{{id}}" method="POST">
                <textarea type="text" name="description">{{description}}</textarea>
                <button class="button"> Save</button>
            </form>
    </section>