<div class="movie">
    <h2>Title: {{title}}</h2>
    <img
          src="{{imageURL}}">
    <p>Available Tickets: {{tickets}}</p><button><a href="#/buyTicket/{{_id}}">Buy Ticket</a></button>
    <button><a href="#/detail/movie/{{_id}}">Details</a></button>
</div>