<div class="movie">
    <h2>Title: {{title}}</h2>
    <img
          src="{{imageURL}}">
    <p>Available Tickets: {{tickets}}</p>
    <div class="btn-group">
        <button><a href="#/edit/{{_id}}">Edit</a></button>
        <button><a href="#/delete/{{_id}}">Delete</a></button>
        <button><a href="#/buyTicket/{{_id}}">Buy Ticket</a></button>
        <button><a href="#/detail/movie/{{_id}}">Details</a></button>
    </div>
</div>