 <div class="user-meme">
     <a href="#/memeDetail/{{_id}}" class="user-meme-title">{{title}}</a>
     <a href="#/memeDetail/{{_id}}"> <img class="userProfileImage" src="{{imageUrl}}"></a>

     <div class="user-memes-buttons">
         <a href="#/memeEdit/{{_id}}" class="user-meme-btn">Edit</a>
         <a href="#/memeDelete/{{_id}}" class="user-meme-btn">Delete</a>

     </div>
 </div>